include dash_flexbox_grid/dash_flexbox_grid.min.js
include dash_flexbox_grid/dash_flexbox_grid.dev.js
include dash_flexbox_grid/metadata.json
include dash_flexbox_grid/package.json
include README.md
include LICENSE.md
