# Packages needed to run the tests.
# Switch into a virtual environment
# pip install -r requirements.txt

chromedriver-binary==2.45.0
dash==0.32.2
dash-core-components==0.41.0
dash-html-components==0.13.4
dash-renderer==0.16.1
selenium==3.141.0
flake8==3.6.0
pylint==2.2.2
pytest-dash==1.0.1
