# Packages needed to run the tests.
# Switch into a virtual environment
# pip install -r requirements.txt

chromedriver-binary==2.46.0
dash==0.38.0
dash-core-components==0.44.0
dash-html-components==0.14.0
dash-renderer==0.20.0
selenium==3.141.0
flake8==3.7.7
pylint==2.3.1
pytest-dash==2.1.1
