# Packages needed to run the tests.
# Switch into a virtual environment
# pip install -r requirements.txt

chromedriver-binary
dash==0.30.0
dash-core-components==0.38.0
dash-html-components
dash-renderer==0.15.1
selenium==3.141.0
flake8
pylint
pytest-dash
